.years {
    padding: 2px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    z-index: 4;
}

/* .years:hover {
    background-color: var(--med);
} */

.thbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    z-index: 0;
}