sidebar {
    padding-top:335px;
}

.side-card { 
    background-color: var(--white);
    width:250px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

h3 {
    padding:10px;
    background-color: var(--med);
}

/* a {
    text-decoration: none;
    color:var(--dark);
} */


.address {
    margin: 0;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:400;
    font-size:1rem;
}

.address:link, .address:visited, .main-box a:link, .main-box a:visited  {
    text-decoration:none;
    color: black;
}

.donor-logo {
    width:150px;
    border-radius: 5px;
    margin:10px;
    border:5px solid var(--dark);
}

#vol-list li {
    list-style: none;
    text-align:center;
    background-color: transparent;
    border: none;
    /* margin: 10px; */
}